# Flask
SECRET_KEY="my_secret"

# Postgres
SQLALCHEMY_DATABASE_URI="postgresql://postgres:postgres@postgres_db:5432/postgres"
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Google OAuth2
GOOGLE_CLIENT_ID="COMPLETE WITH GOOGLE AUTH APP CLIENT ID"
GOOGLE_CLIENT_SECRET="COMPLETE WITH GOOGLE AUTH APP SECRET"

# Google OAuth2 settings
GOOGLE_REDIRECT="https://127.0.0.1:5000/authorize/"
